[submodule "openal/src/main/jni/openal"]
	path = openal/src/main/jni/openal
	url = https://github.com/kcat/openal-soft.git
[submodule "gl4es/src/main/jni/gl4es"]
	path = gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/WolfensteinRPG-RE"]
	path = app/src/main/jni/WolfensteinRPG-RE
	url = https://github.com/sandstranger/WolfensteinRPG-RE.git
