[submodule "third_party/openal/src/main/jni/openal"]
	path = third_party/openal/src/main/jni/openal
	url = https://github.com/sandstranger/openal-soft.git
[submodule "app/src/main/jni/WolfensteinRPG-RE"]
	path = app/src/main/jni/WolfensteinRPG-RE
	url = https://github.com/sandstranger/WolfensteinRPG-RE.git
[submodule "third_party/sdl2-mixer/src/main/jni/SDL_mixer"]
	path = third_party/sdl2-mixer/src/main/jni/SDL_mixer
	url = https://github.com/sandstranger/SDL_mixer.git
[submodule "app/src/main/jni/DoomRPG-RE"]
	path = app/src/main/jni/DoomRPG-RE
	url = https://github.com/sandstranger/DoomRPG-RE.git
[submodule "app/src/main/jni/DoomIIRPG-RE"]
	path = app/src/main/jni/DoomIIRPG-RE
	url = https://github.com/sandstranger/DoomIIRPG-RE.git
[submodule "third_party/fluidsynth/src/main/jni/fluidsynth-android"]
	path = third_party/fluidsynth/src/main/jni/fluidsynth-android
	url = https://github.com/sandstranger/fluidsynth-android.git
[submodule "third_party/sdl2-ttf/src/main/jni/sdl-ttf"]
	path = third_party/sdl2-ttf/src/main/jni/sdl-ttf
	url = https://github.com/sandstranger/SDL_ttf.git
[submodule "third_party/CTranslate2/src/main/jni/CTranslate2"]
	path = third_party/CTranslate2/src/main/jni/CTranslate2
url=https://github.com/sandstranger/CTranslate2.git
[submodule "third_party/sentencepiece/src/main/jni/sentencepiece"]
	path = third_party/sentencepiece/src/main/jni/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third_party/NG-GL4ES/src/main/jni/NG-GL4ES"]
	path = third_party/NG-GL4ES/src/main/jni/NG-GL4ES
url=https://github.com/sandstranger/NG-GL4ES.git
[submodule "third_party/libpng/src/main/jni/libpng"]
	path = third_party/libpng/src/main/jni/libpng
url=https://github.com/pnggroup/libpng.git
[submodule "third_party/sdl3"]
	path = third_party/sdl3
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/Doom64EX-Plus"]
	path = app/src/main/jni/Doom64EX-Plus
	url = https://github.com/sandstranger/Doom64EX-Plus.git
[submodule "third_party/storage-chooser"]
	path = third_party/storage-chooser
	url = https://github.com/sandstranger/storage-chooser.git
[submodule "third_party/legacy_gl4es/src/main/jni/gl4es"]
	path = third_party/legacy_gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es.git
[submodule "third_party/bing_translator/src/main/java"]
	path = third_party/bing_translator/src/main/java
	url = https://github.com/sandstranger/bing-translate-api-java.git
[submodule "third_party/oboe/src/main/jni/oboe"]
	path = third_party/oboe/src/main/jni/oboe
url=https://github.com/google/oboe.git
[submodule "app/src/main/jni/DOOM64-EX-Plus-Enhanced"]
	path = app/src/main/jni/DOOM64-EX-Plus-Enhanced
	url = https://github.com/sandstranger/DOOM64-EX-Plus-Enhanced.git
[submodule "app/src/main/jni/PsyDoom"]
	path = app/src/main/jni/PsyDoom
	url = https://github.com/sandstranger/PsyDoom.git
[submodule "third_party/freetype/src/main/jni/freetype"]
	path = third_party/freetype/src/main/jni/freetype
	url = https://github.com/freetype/freetype.git
[submodule "third_party/zmusic/src/main/jni/ZMusic"]
	path = third_party/zmusic/src/main/jni/ZMusic
url=https://github.com/sandstranger/ZMusic.git
[submodule "app/src/main/jni/UZDoom"]
	path = app/src/main/jni/UZDoom
	url = https://github.com/sandstranger/UZDoom.git
[submodule "third_party/mpg123/src/main/jni/MPG123-Android"]
	path = third_party/mpg123/src/main/jni/MPG123-Android
url=https://github.com/sandstranger/MPG123-Android.git
[submodule "third_party/libsndfile/src/main/jni/libsndfile"]
	path = third_party/libsndfile/src/main/jni/libsndfile
url=https://github.com/sandstranger/libsndfile.git
[submodule "third_party/flac/src/main/jni/flac"]
	path = third_party/flac/src/main/jni/flac
	url = https://github.com/xiph/flac.git
[submodule "third_party/libvorbis/src/main/jni/libvorbis-android"]
	path = third_party/libvorbis/src/main/jni/libvorbis-android
url=https://gitlab.xiph.org/xiph/vorbis.git
[submodule "third_party/opus/src/main/jni/opus"]
	path = third_party/opus/src/main/jni/opus
	url = https://github.com/xiph/opus.git
[submodule "third_party/libmp3lame/src/main/jni/libmp3lame-android"]
	path = third_party/libmp3lame/src/main/jni/libmp3lame-android
url=https://github.com/sandstranger/libmp3lame-android.git
[submodule "app/src/main/jni/perfect_dark"]
	path = app/src/main/jni/perfect_dark
	url = https://github.com/sandstranger/perfect_dark.git
[submodule "app/src/main/jni/ArxLibertatis"]
	path = app/src/main/jni/ArxLibertatis
	url = https://github.com/sandstranger/ArxLibertatis.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/bullet/src/main/jni/bullet3"]
	path = third_party/bullet/src/main/jni/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "third_party/ffmpeg/src/main/FFmpeg"]
	path = third_party/ffmpeg/src/main/FFmpeg
url=https://github.com/FFmpeg/FFmpeg
[submodule "app/src/main/jni/fteqw"]
	path = app/src/main/jni/fteqw
	url = https://github.com/sandstranger/fteqw.git
[submodule "third_party/libjpegturbo/src/main/jni/libjpeg-turbo"]
	path = third_party/libjpegturbo/src/main/jni/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "third_party/bzip2/src/main/jni/bzip2"]
	path = third_party/bzip2/src/main/jni/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "third_party/ode/src/main/jni/ODE"]
	path = third_party/ode/src/main/jni/ODE
url=https://github.com/sandstranger/ODE
[submodule "third_party/yquake2/src/main/jni/yquake2"]
	path = third_party/yquake2/src/main/jni/yquake2
	url = https://github.com/sandstranger/yquake2.git
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third_party/sdl2-image/src/main/jni/SDL_image"]
	path = third_party/sdl2-image/src/main/jni/SDL_image
url=https://github.com/sandstranger/SDL_image.git
[submodule "third_party/libtiff/src/main/jni/libtiff"]
	path = third_party/libtiff/src/main/jni/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "third_party/glbinding/src/main/jni/glbinding"]
	path = third_party/glbinding/src/main/jni/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "app/src/main/jni/widelands"]
	path = app/src/main/jni/widelands
	url = https://github.com/sandstranger/widelands.git
[submodule "third_party/glob/src/main/jni/glob"]
	path = third_party/glob/src/main/jni/glob
	url = https://github.com/sandstranger/glob.git
[submodule "app/src/main/jni/Vanilla-Conquer"]
	path = app/src/main/jni/Vanilla-Conquer
	url = https://github.com/sandstranger/Vanilla-Conquer.git
[submodule "third_party/ogg/src/main/jni/ogg"]
	path = third_party/ogg/src/main/jni/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
[submodule "app/src/main/jni/Classic-RBDOOM-3-BFG"]
	path = app/src/main/jni/Classic-RBDOOM-3-BFG
	url = https://github.com/sandstranger/Classic-RBDOOM-3-BFG.git
[submodule "third_party/yquake2/src/main/jni/xatrix"]
	path = third_party/yquake2/src/main/jni/xatrix
	url = https://github.com/sandstranger/xatrix.git
[submodule "third_party/yquake2/src/main/jni/rogue"]
	path = third_party/yquake2/src/main/jni/rogue
	url = https://github.com/sandstranger/rogue.git
[submodule "third_party/yquake2/src/main/jni/ctf"]
	path = third_party/yquake2/src/main/jni/ctf
	url = https://github.com/sandstranger/ctf.git
[submodule "third_party/yquake2/src/main/jni/zaero"]
	path = third_party/yquake2/src/main/jni/zaero
	url = https://github.com/sandstranger/zaero.git
[submodule "third_party/yquake2/src/main/jni/3zb2"]
	path = third_party/yquake2/src/main/jni/3zb2
	url = https://github.com/sandstranger/3zb2.git
[submodule "third_party/sse2neon"]
	path = third_party/sse2neon
	url = https://github.com/DLTcollab/sse2neon.git
[submodule "third_party/sdl2-compat/src/main/jni/sdl2-compat"]
	path = third_party/sdl2-compat/src/main/jni/sdl2-compat
	url = https://github.com/sandstranger/sdl2-compat.git
[submodule "app/src/main/jni/libsquish"]
	path = app/src/main/jni/libsquish
	url = https://github.com/sandstranger/libsquish.git
[submodule "app/src/main/jni/etcpaksources/etcpak"]
	path = app/src/main/jni/etcpaksources/etcpak
	url = https://github.com/wolfpld/etcpak.git
