[submodule "third_party/openal/src/main/jni/openal"]
	path = third_party/openal/src/main/jni/openal
url=https://github.com/kcat/openal-soft.git
[submodule "third_party/sdl2"]
	path = third_party/sdl2
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/WolfensteinRPG-RE"]
	path = app/src/main/jni/WolfensteinRPG-RE
	url = https://github.com/sandstranger/WolfensteinRPG-RE.git
[submodule "third_party/sdl2-mixer/src/main/jni/SDL_mixer"]
	path = third_party/sdl2-mixer/src/main/jni/SDL_mixer
	url = https://github.com/sandstranger/SDL_mixer.git
[submodule "app/src/main/jni/DoomRPG-RE"]
	path = app/src/main/jni/DoomRPG-RE
	url = https://github.com/sandstranger/DoomRPG-RE.git
[submodule "app/src/main/jni/DoomIIRPG-RE"]
	path = app/src/main/jni/DoomIIRPG-RE
	url = https://github.com/sandstranger/DoomIIRPG-RE.git
[submodule "third_party/fluidsynth/src/main/jni/fluidsynth-android"]
	path = third_party/fluidsynth/src/main/jni/fluidsynth-android
	url = https://github.com/sandstranger/fluidsynth-android.git
[submodule "third_party/sdl2-ttf/src/main/jni/sdl-ttf"]
	path = third_party/sdl2-ttf/src/main/jni/sdl-ttf
	url = https://github.com/sandstranger/SDL_ttf.git
[submodule "third_party/CTranslate2/src/main/jni/CTranslate2"]
	path = third_party/CTranslate2/src/main/jni/CTranslate2
url=https://github.com/sandstranger/CTranslate2.git
[submodule "third_party/sentencepiece/src/main/jni/sentencepiece"]
	path = third_party/sentencepiece/src/main/jni/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "third_party/NG-GL4ES/src/main/jni/NG-GL4ES"]
	path = third_party/NG-GL4ES/src/main/jni/NG-GL4ES
url=https://github.com/sandstranger/NG-GL4ES.git
[submodule "third_party/libpng/src/main/jni/libpng"]
	path = third_party/libpng/src/main/jni/libpng
url=https://github.com/pnggroup/libpng.git
[submodule "third_party/sdl3"]
	path = third_party/sdl3
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/Doom64EX-Plus"]
	path = app/src/main/jni/Doom64EX-Plus
	url = https://github.com/sandstranger/Doom64EX-Plus.git
[submodule "third_party/storage-chooser"]
	path = third_party/storage-chooser
	url = https://github.com/sandstranger/storage-chooser.git
[submodule "third_party/legacy_gl4es/src/main/jni/gl4es"]
	path = third_party/legacy_gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es.git
[submodule "third_party/bing_translator/src/main/java"]
	path = third_party/bing_translator/src/main/java
	url = https://github.com/sandstranger/bing-translate-api-java.git
[submodule "third_party/oboe/src/main/jni/oboe"]
	path = third_party/oboe/src/main/jni/oboe
	url = https://github.com/google/oboe.git
